@mixin card {
    display: flex;
    position: relative;
    border-radius: 5px;
  }
  
  @mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  @mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  @mixin button-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin breakpoint($point) {
    @if $point == lg {
      @media (max-width: 992px) {@content;}
    }
    @if $point == md {
      @media (max-width: 768px) {@content;}
    }
    @if $point == sm {
      @media (max-width: 567px) {@content;}
    }
    @if $point == xs {
      @media (max-width: 320px) {@content;}
    }
  }