@import "variables";
@import "mixins";
@import "media_mixin.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: -0.005em;
  font-size: $fontBasis;
}

.wrapper {
  max-width: 480px;
  height: auto;
  margin: 0 auto;
  background: $bgColor;
  outline: 1px solid black;
}

h3 {
  font-size: $fonth3;
  font-weight: 400;
}

h4 {
  font-size: $fonth4;
  font-weight: 400;
  }

/*Header*/
header {
  background: $bgHeader;
}

.container {
  padding: 0;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  .logo {
    width: 150px;
    height: 50px;
    margin-right: 10px;
    
  }

  .line {
    display: block;
    width: 1px;
    height: 25px;
    background-color: white;
    margin-right: 20px;

  }

  .icon-app {
    width: 25px;
    height: 25px;

    img {
      width: 100%;
      font-size: 0;
    }
  }
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include _436 {
    flex-direction: row;
    
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
@include _436 {
  flex-direction: column;
  padding:10px 0;
}
  }

  .burger {
    width: 30px;
    height: 30px;
    margin: 0 10px;

    img {
      display: block;
      width: 100%;
    }
  }
}



.btn {
  width: 80px;
  height: 30px;
  background-color: transparent;
  font-size: 14px;
  color: #f8f8f8;
  border: none;
  border-radius: .5rem;
  border: 1px solid rgba(0, 87, 255, 1);
  cursor: pointer;
  @include _436 {
    padding: 0px 10px;
  }

  &:hover {
    background-color: rgba(0, 87, 255, 1);
    border: 1px solid transparent;
    transition: all 0.3s ease;
  }

  &:first-child {
    margin-right: 20px;
    @include _436 {
      margin-right: 0px;
      margin-bottom: 10px;
    }
  }
}

.btn.active {
  background-color: rgba(0, 87, 255, 1);
  border: 1px solid transparent;
}

.header-menu {
  border-top: 0.2px solid rgba(146, 154, 165, 0.8);
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  @include _436 {
    justify-content: space-around;
    padding: 10px;
  }

  li {
    list-style-type: none;
    padding-right: 2px;

    a {
      text-decoration: none;
      font-size: 12px;
      color: #929aa5;

      &:hover {
        color: #f8f8f8;
      }
    }
  }
}

.overview {
  .span-icon {
    padding: 0;
    margin-right: 10px;

    a {
      padding-right: 10px;
    }
  }

}

/*Sections*/

section {
  color: black;
  padding: 20px;
  background-color: white;
}

.nav-bread {
  font-size: 14px;
  margin-bottom: 20px;
  color: #788290;
  span {
    padding: 0 12px;
  }
}

.nav1 {
  color: black;
  padding-bottom: 15px;
}

.tab a {
  font-size: 24px;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: font-size 0.2s ease;
  padding-bottom: 15px;

  &:first-child {
    margin-right: 30px;
  }

  &:hover {
    transform: scale(1.3);
    border-bottom: 2px solid rgba(0, 87, 255, 1);
    cursor: pointer;
    
  }
}

.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-top: 45px;
}

.left-nav {
  font-size: 16px;
  padding: 8px;
  transition: all 0.2s ease;
  margin-bottom: 20px;
  a {
    margin-right: 30px;
    color: rgba(120, 130, 144, 1);
    padding-bottom: 7.5px;
    border-bottom: transparent;

    &:hover {
      color: #000;
      cursor: pointer;
      border-bottom: 2px solid rgba(0, 87, 255, 1);
    }
  }
}

.right-nav {
  display: flex;
  font-size: 14px;
  
  span {
    margin-left: 15px;
  }
}

.currency__title {
  margin-bottom: 15px;
}

.currency__label {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.currency__select-style {
  display: block;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: white;
  border-bottom: 0.2px solid #c5c5c5;
 }


.recomended {
  padding-top: 17.5px;
}

.subtitle {
  display: flex;
  span {
    margin-left: 10px;
  }
}

.card {
  display: flex;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;

  .card-icon {
    padding: 20px;
  }

  .card-desc {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;


    span {
      font-size: 13px;
      color: rgba(0, 87, 255, 1);
      padding-top: 5px;
    }
  }
}

.card1 {
  margin-top: 20px;
  border: 1px solid rgba(0, 87, 255, 1);

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -16px;
    right: -17px;
    width: 50px;
    height: 50px;
    background-image: url('../images/poligon.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: right;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    right: -36px;
    width: 50px;
    height: 50px;
    background-image: url('../images/Vector.png');
    background-size: 10px 10px;
    background-repeat: no-repeat;
  }
}

.card2 {
  border: 0.5px solid #c5c5c5;
  margin-bottom: 30px;
}

.section2 {
  margin-top: 20px;
}

.section2__button {
  width: 100%;
  background-color: #B3CDFF;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 30px;

  a {
    font-size: 20px;
    color: #1e2329;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.details {
  &__title {
    padding: 20px 0 30px 0;
  }

  &__info-block {
    display: flex;
    align-items: center;
    font-size: 14px;
    background-color: rgba(0, 87, 255, 0.3);
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 30px;

    span {
      padding: 0;
      padding-right: 10px;
    }
  }
}

.ammount {
  &__title {
  margin-bottom: 25px;
  }
  &__lable {
    margin-bottom: 6px;
  }
  &__input {
  display: block;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: white;
  border-bottom: 0.2px solid #c5c5c5;
  margin-bottom: 20px;
}
  &__input[placeholder] {
  text-align: end;
}
}

.result {
  margin-bottom: 26px;
  color: #1E2329;

  span {
    color: rgba(120, 130, 144, 1);
    margin-right: 10px;
  }
}

.notes__title {
  margin-bottom: 14px;
  &__title-text {
  margin-bottom: 20px;
}
  &__title-desc {
  margin-bottom: 20px;
}
}

/*Footer*/

footer {
  padding: 20px;
  background-color: $bgFooter;
}

.footer-menu {
  margin-top: 80px;

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__point {
    font-size: 18px;
    font-weight: 500;
  }

}

.contact_us {
  display: block;
  margin-bottom: 20px;

  &__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 11px;
  }
}

p.email {
  font-size: 12px;
  font-weight: 500;
  margin: 10px 0px;
}

.social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.social-icons {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-lang {
  background-color: #fff;
  border-radius: 20px;
  padding: 7px 15px;
  margin: 0 20px;
  font-size: 14px;

}

.copyright-text {
  text-align: center;
  font-size: 10px;
}